.carousel-item{
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover ;
    height: 600px;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background-color: #000;
    opacity: 0.6;
}

.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
    color: gold;
}
.carousel-caption h5{
    font-size: 50px;
}